<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=poppins@701,200,500,301,201,300,601,600,401,501,400,700&f[]=styro@400&f[]=melodrama@100,200,300,400,500,600,700,800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />

    <title>PDFolio</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- <nav class="navbar">
        <div class="name">
          <p>PDFolio</p>

          <svg
            width="40"
            height="40"
            viewBox="0 0 49 49"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M33.2148 19.1608L15.2148 8.78076"
              stroke="black"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M42.2148 32.3606V16.3606C42.2141 15.6592 42.029 14.9703 41.6779 14.363C41.3269 13.7557 40.8223 13.2514 40.2148 12.9006L26.2148 4.90064C25.6068 4.54957 24.917 4.36475 24.2148 4.36475C23.5127 4.36475 22.8229 4.54957 22.2148 4.90064L8.21484 12.9006C7.60737 13.2514 7.1028 13.7557 6.75177 14.363C6.40073 14.9703 6.21556 15.6592 6.21484 16.3606V32.3606C6.21556 33.0621 6.40073 33.751 6.75177 34.3583C7.1028 34.9656 7.60737 35.4699 8.21484 35.8206L22.2148 43.8206C22.8229 44.1717 23.5127 44.3565 24.2148 44.3565C24.917 44.3565 25.6068 44.1717 26.2148 43.8206L40.2148 35.8206C40.8223 35.4699 41.3269 34.9656 41.6779 34.3583C42.029 33.751 42.2141 33.0621 42.2148 32.3606Z"
              stroke="black"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M6.75488 14.2808L24.2149 24.3808L41.6749 14.2808"
              stroke="black"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M24.2148 44.5208V24.3608"
              stroke="black"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="menu-list">
          <a href="#" class="menu">Products</a>
          <a href="#" class="menu">Resources</a>
          <a href="#" class="menu">Pricing</a>
        </div>
        <button>Try for free</button>
      </nav> -->
      <section class="hero">
        <div class="hero-content">
          <h1>Craft an Impressive Portfolio with PDFolio</h1>
          <p>Create, Customize, and Showcase Your Work with PDFolio</p>
          <a routerLink="form" class="underline-transition"
            >Start Building Now
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
        <img src="assets/images/mock.jpg" alt="" height="400" class="img-1" />
        <img src="assets/images/mock2.jpg" alt="" height="400" class="img-2" />
      </section>
      <div class="purpose">
        <div class="number"><span>01</span></div>
        <div class="what">
          <p class="one">
            PDFolio is the ultimate platform for individuals and companies to
            create visually stunning and organized portfolios.
          </p>
          <p class="two">
            With PDFolio, you can effectively showcase your work, skills, and
            achievements, impressing potential clients, employers, or
            collaborators. Stand out from the crowd, establish your credibility,
            and unlock new opportunities with PDFolio.
          </p>
        </div>
      </div>
      <div class="details">
        <p class="title"><span>02</span>Why PDFolio?</p>
        <div class="images">
          <div class="img img1">
            <img src="assets/images/img-1.jpg" width="300" height="200" />
            <p>
              PDFolio enables you to create a visually appealing and
              organized portfolio, showcasing your work, achievements, skills,
              and experience professionally.
            </p>
          </div>
          <div class="img img2">
            <img src="assets/images/img-2.jpg" width="300" height="200" />
            <p>
              PDFolio offers an intuitive interface with drag-and-drop
              functionality and customizable templates, making it easy for
              anyone to build and manage their portfolio.
            </p>
          </div>
          <div class="img img3">
            <img src="assets/images/img-3.jpg" width="300" height="200" />
            <p>
              Share your portfolio effortlessly via email, social media, or your
              website, making it easily accessible to potential clients,
              employers, or collaborators.
            </p>
          </div>
        </div>
      </div>
      <div class="logo-loop">
        <div class="brandinfo">Leading Brands in Collaboration</div>
        <div class="logo-wrapper">
          <div class="logo-brand">
            <img src="assets/images/Frame.png" alt="Logo 1" />
          </div>
          <div class="logo-brand">
            <img src="assets/images/Frame-1.png" alt="Logo 3" />
          </div>
          <div class="logo-brand">
            <img src="assets/images/Frame-2.png" alt="Logo 2" />
          </div>
          <div class="logo-brand">
            <img src="assets/images/Frame-3.png" alt="Logo 3" />
          </div>
          <div class="logo-brand">
            <img src="assets/images/Frame-4.png" alt="Logo 3" />
          </div>
          <div class="logo-brand">
            <img src="assets/images/Frame-5.png" alt="Logo 3" />
          </div>
          <div class="logo-brand">
            <img src="assets/images/Frame-6.png" alt="Logo 3" />
          </div>
          <div class="logo-brand">
            <img src="assets/images/Frame-10.png" alt="Logo 3" />
          </div>
          <div class="logo-brand">
            <img src="assets/images/Frame-7.png" alt="Logo 3" />
          </div>
          <div class="logo-brand">
            <img src="assets/images/Frame-8.png" alt="Logo 3" />
          </div>
          <div class="logo-brand">
            <img src="assets/images/Frame-9.png" alt="Logo 3" />
          </div>
        </div>
      </div>
      <div class="pricing-cards" id="plans">
        <h1>Pricing</h1>
        <div class="plans">
          <div class="pricing-card">
            <h2>Free</h2>
            <p class="price"><span>Free</span></p>
            <ul>
              <li>
                <p>3 Projects</p>
                <i class="fas fa-info-circle"></i>
              </li>
              <li>
                <p>1 GB Storage</p>
                <i class="fas fa-info-circle"></i>
              </li>
              <li>
                <p>Basic Templates</p>
                <i class="fas fa-info-circle"></i>
              </li>
              <li>
                <p>Limited Support</p>
                <i class="fas fa-info-circle"></i>
              </li>
            </ul>
            <a href="#" class="btn">Choose Plan</a>
          </div>
          <div class="pricing-card popular">
            <h2>Pro</h2>
            <p class="price"><span>$9.99</span> per month</p>
            <ul>
              <li>
                <p>Unlimited Projects</p>
                <i class="fas fa-info-circle"></i>
              </li>
              <li>
                <p>10 GB Storage</p>
                <i class="fas fa-info-circle"></i>
              </li>
              <li>
                <p>Advanced Templates</p>
                <i class="fas fa-info-circle"></i>
              </li>
              <li>
                <p>Email Support</p>
                <i class="fas fa-info-circle"></i>
              </li>
            </ul>
            <a href="#" class="btn">Choose Plan</a>
          </div>
          <div class="pricing-card">
            <h2>Premium</h2>
            <p class="price"><span>$19.99</span> per month</p>
            <ul>
              <li>
                <p>Unlimited Projects</p>
                <i class="fas fa-info-circle"></i>
              </li>
              <li>
                <p>20 GB Storage</p>
                <i class="fas fa-info-circle"></i>
              </li>
              <li>
                <p>Premium Templates</p>
                <i class="fas fa-info-circle"></i>
              </li>
              <li>
                <p>Priority Support</p>
                <i class="fas fa-info-circle"></i>
              </li>
            </ul>
            <a href="#" class="btn">Choose Plan</a>
          </div>
        </div>
      </div>

      <footer>
        <div class="footer-content">
          <div class="footer-start">
            <div class="logo">
              <svg
                width="100"
                height="100"
                viewBox="0 0 49 49"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M33.2148 19.1608L15.2148 8.78076"
                  stroke="white"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M42.2148 32.3606V16.3606C42.2141 15.6592 42.029 14.9703 41.6779 14.363C41.3269 13.7557 40.8223 13.2514 40.2148 12.9006L26.2148 4.90064C25.6068 4.54957 24.917 4.36475 24.2148 4.36475C23.5127 4.36475 22.8229 4.54957 22.2148 4.90064L8.21484 12.9006C7.60737 13.2514 7.1028 13.7557 6.75177 14.363C6.40073 14.9703 6.21556 15.6592 6.21484 16.3606V32.3606C6.21556 33.0621 6.40073 33.751 6.75177 34.3583C7.1028 34.9656 7.60737 35.4699 8.21484 35.8206L22.2148 43.8206C22.8229 44.1717 23.5127 44.3565 24.2148 44.3565C24.917 44.3565 25.6068 44.1717 26.2148 43.8206L40.2148 35.8206C40.8223 35.4699 41.3269 34.9656 41.6779 34.3583C42.029 33.751 42.2141 33.0621 42.2148 32.3606Z"
                  stroke="whitesmoke"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6.75488 14.2808L24.2149 24.3808L41.6749 14.2808"
                  stroke="whitesmoke"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M24.2148 44.5208V24.3608"
                  stroke="whitesmoke"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="footer-text">
              <div>
                <p>Start a free trial today</p>
                <h4>No credit card required.</h4>
              </div>
              <i class="fas fa-arrow-right" id="arrow"></i>
            </div>
          </div>
          <div class="socials">
            <div class="copyright">
              <p>© 2023 PDFolio. All rights reserved.</p>
            </div>
            <div class="connect">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="far fa-envelope"></i></a>
            </div>
            <div class="legal-links">
              <a href="privacy.html">Privacy Policy</a>
              <a href="terms.html">Terms of Service</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
